Loesung_Automatisch_Rueckmeldung.json
[
    {
        "id": "b77197d8.add7a8",
        "type": "tab",
        "label": "Automatische Rückmeldung",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9b60e692.1f2408",
        "type": "grovepi-digital-input",
        "z": "b77197d8.add7a8",
        "name": "Bewegung (Digital Input Node)",
        "mode": "timer",
        "interval": 1,
        "unit": "s",
        "pin": "3",
        "sensorname": "Bewegungsmelder",
        "sensorid": "grovepi.digital-input.1",
        "x": 146.5,
        "y": 92,
        "wires": [
            [
                "fcf7497f.6a53f8",
                "4f6b5ca3.065c04",
                "a1d07d7a.003a1"
            ]
        ]
    },
    {
        "id": "49977774.e2dad8",
        "type": "debug",
        "z": "b77197d8.add7a8",
        "name": "Daten für Server",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1134.5,
        "y": 102,
        "wires": []
    },
    {
        "id": "4f6b5ca3.065c04",
        "type": "debug",
        "z": "b77197d8.add7a8",
        "name": "Daten aus Sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 455,
        "y": 188,
        "wires": []
    },
    {
        "id": "ab87b75b.4bb808",
        "type": "od-converter-nodered",
        "z": "b77197d8.add7a8",
        "sensorid": "",
        "dimCount": 1,
        "name": "",
        "owner": "",
        "valueTypes": [
            {
                "name": "Bewegung",
                "unit": "",
                "type": "Boolean"
            }
        ],
        "sensorname": "",
        "x": 868,
        "y": 100,
        "wires": [
            [
                "49977774.e2dad8"
            ]
        ]
    },
    {
        "id": "fcf7497f.6a53f8",
        "type": "grovepi-datapoint-lcd",
        "z": "b77197d8.add7a8",
        "name": "",
        "pin": "1",
        "x": 442,
        "y": 41,
        "wires": []
    },
    {
        "id": "50c24189.752ed",
        "type": "function",
        "z": "b77197d8.add7a8",
        "name": "JA",
        "func": "delete msg.valueTypes;\nmsg.payload=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 583.5,
        "y": 72,
        "wires": [
            [
                "ab87b75b.4bb808",
                "8abca013.7d1b4"
            ]
        ]
    },
    {
        "id": "a1d07d7a.003a1",
        "type": "switch",
        "z": "b77197d8.add7a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 409.5,
        "y": 97,
        "wires": [
            [
                "50c24189.752ed"
            ],
            [
                "e210a35b.bc64b"
            ]
        ]
    },
    {
        "id": "e210a35b.bc64b",
        "type": "function",
        "z": "b77197d8.add7a8",
        "name": "NEIN",
        "func": "delete msg.valueTypes;\nmsg.payload=false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 584,
        "y": 137,
        "wires": [
            [
                "ab87b75b.4bb808",
                "8abca013.7d1b4"
            ]
        ]
    },
    {
        "id": "8abca013.7d1b4",
        "type": "debug",
        "z": "b77197d8.add7a8",
        "name": "Antwort",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 808.5,
        "y": 173,
        "wires": []
    }
]